{% extends "base.html" %}
{% block content %}
<h2 class="center-align bright-gold amatic-font text-shadow h3-header">Add A Review!</h2>
 <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_review') }}">
            <div class="card pale-teal-background">
                <div class="row">
                    <div class="input-field margin-top-btm-20 col s8 offset-s2">
                        <i class="material-icons prefix">create</i>
                        <input id="book_name" name="book_name" type="text" minlength="3"
                        maxlength="70" required class="black-text validate">
                        <label for="book_name">Book Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field margin-top-btm-20 col s8 offset-s2">
                        <i class="material-icons prefix">create</i>
                        <input id="book_author" name="book_author" type="text" minlength="3"
                        maxlength="70" required class="black-text validate">
                        <label for="book_author">Author</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="material-icons prefix">menu_book</i>
                        <select id="genre_name" name="genre_name" class="validate" required>
                            <option value="" disabled selected>Choose the books genre</option>
                            {% for genre in genres %}
                                <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="genre_name">Choose Genre</label>
                    </div>
                </div>

{% endblock %}