<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Our Lockdown Reads</title>
</head>
<body>
    <header>
        <!-- main navbar from materialize with custom css-->
        <div class="row centre-align" id="logo-div">
            <div class="center-align aqua-background">
                <img id="main-page-logo" src="{{ url_for('static', filename='images/our-lockdown-reads-logo-reworked.png') }}"
                class="responsive-img" alt="logo for the Our Lockdown Reads website">
            </div>
        </div>
        <nav>
            <div class="nav-wrapper light-purple-background center-nav">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">
                    arrow_back_ios</i><span class="josefine-font text-shadow"> Side Nav </span></a>
                <ul class="right hide-on-med-and-down">
                    <li class="light-purple-background"><a class="text-shadow-teal amatic-font" href="{{ url_for('home') }}">Home</a></li>
                    {% if session.user %}
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="{{ url_for('reviews') }}">Reviews</a></li>
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="{{ url_for('add_review') }}">Add A Review</a></li>
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="{{ url_for('logout') }}">Log Out </a></li>
                    {% else %}
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="{{ url_for('login') }}">Log In</a></li>
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- collapsible mobile side bar-->
        <ul class="center-align sidenav aqua-background" id="mobile-demo">
            <li><h3 class="text-shadow amatic-font teal-background">Menu</h3></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('home') }}">Home</a></li>
            {% if session.user %}
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('reviews') }}">Reviews</a></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('add_review') }}">Add A Review</a></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('login') }}">Log In</a></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- Section for displaying our flashed messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row center-align text-shadow flashes aqua-background">
                        <h3 class="bright-gold">{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="aqua-background">
    {% block content %}
    {% endblock %}
    </main>
    <footer class="light-purple-background">
        <div class="row">
            <div class="col s12 m6 l4 center-align">
                <p class="bright-gold text-shadow">Created by Ger Tobin</p>
            </div>
            <div class="col s12 m6 l4 offset-l4 center-align">
                <h5 class="bright-gold text-shadow"><i class=""></i> Follow Us</h5>
                <a href="https://www.facebook.com/" target="_blank" aria-label="open facebook" class="social-links"><i
                     class="bright-gold text-shadow material-icons prefix">facebook</i></a>
                <a href="https://www.youtube.com" target="_blank" aria-label="open youtube" class="social-links"><i
                        class="text-shadow bright-gold material-icons prefix">youtube_searched_for</i></a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>