<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Our Lockdown Reads</title>
</head>
<body>
    <header>
        <!-- main navbar from materialize with custom css-->
        <div class="row centre-align" id="logo-div">
            <div class="center-align aqua-background">
                <img id="main-page-logo" src="{{ url_for('static', filename='images/our-lockdown-reads-logo-reworked.png') }}"
                class="responsive-img" alt="logo for the Our Lockdown Reads website">
            </div>
        </div>
        <nav role="navigation">
            <div class="nav-wrapper light-purple-background center-nav">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">
                    arrow_back_ios</i><span class="josefine-font text-shadow"> Side Nav </span></a>
                <ul class="right hide-on-med-and-down">
                    <li class="light-purple-background"><a class="text-shadow-teal amatic-font" href="{{ url_for('home') }}">Home</a></li>
                    <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="#">Reviews</a></li>
                    <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="{{ url_for('login') }}">Profile</a></li>
                    <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="{{ url_for('login') }}">Log In</a></li>
                    <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="{{ url_for('register') }}">Register</a></li>
                    <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left" href="#">Log Out </a></li>
                </ul>
            </div>
        </nav>
        <!-- collapsible mobile side bar-->
        <ul class="center-align sidenav aqua-background" id="mobile-demo">
            <li><h3 class="text-shadow amatic-font teal-background">Menu</h3></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('home') }}">Home</a></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="#">Reviews</a></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('login') }}">Profile</a></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('home') }}"></a></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="{{ url_for('register') }}"></a>Register</a></li>
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background" href="#">Log Out</a></li>
        </ul>
    </header>

    <section>
        <!-- Section for displaying our flashed messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row center-align text-shadow flashes aqua-background">
                        <h3 class="bright-gold">{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>