<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="https://res.cloudinary.com/dyg53cwvw/image/upload/v1671034327/website%20images/lockdownreads_g9k1jf.png">
    <meta property="og:title" content="Our Lockdown Reads">
    <meta name="author" content="Ger Tobin">
    <meta property="og:description" content="A website where users can read reviews of what other users have read during the covid-19 lockdown, registered users can also submit reviews">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- Favicons -->
    <link rel="icon" href="https://res.cloudinary.com/dyg53cwvw/image/upload/v1671032151/favicons/favicon-32x32_ijmktg.png" sizes="any">
    <link rel="apple-touch-icon" href="https://res.cloudinary.com/dyg53cwvw/image/upload/v1671032156/favicons/apple-touch-icon_q4xskg.png">
    <title>Our Lockdown Reads</title>
</head>
<body>
    <header>
        <!-- main navbar from materialize with custom css-->
        <div class="row centre-align" id="logo-div">
            <div class="center-align aqua-background">
                <img id="main-page-logo" src="{{ url_for('static', filename='images/our-lockdown-reads-logo-reworked.png') }}"
                class="responsive-img" alt="logo for the Our Lockdown Reads website">
            </div>
        </div>
        <nav>
            <div class="nav-wrapper light-purple-background center-nav">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">
                        arrow_back_ios</i><span class="josefine-font text-shadow"> Menu </span></a>
                <ul class="right hide-on-med-and-down">
                    <!-- home and review options available to all users -->
                    <li class="light-purple-background"><a class="text-shadow-teal amatic-font"
                            href="{{ url_for('home') }}">Home</a></li>
                    <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left"
                                href="{{ url_for('reviews') }}">Reviews</a></li>
                    {% if session.user %}
                    <!-- manage genres available to admin only -->
                        {% if session.user|lower == "admin"|lower %}
                            <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left"
                                    href="{{ url_for('manage_genres') }}">Manage Genres</a></li>
                        {% endif %}
                        <!-- the logged in user section -->
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left"
                                href="{{ url_for('add_review') }}">Add A Review</a></li>
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left"
                                href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left"
                                href="{{ url_for('logout') }}">Log Out </a></li>
                    {% else %}
                        <!-- unregistered user section -->
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left"
                                href="{{ url_for('login') }}">Log In</a></li>
                        <li class="light-purple-background"><a class="text-shadow-teal amatic-font border-left"
                                href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- collapsible mobile side bar-->
        <ul class="center-align sidenav aqua-background" id="mobile-demo">
            <li>
                <h3 class="text-shadow amatic-font teal-background">Menu</h3>
            </li>
            <!-- home and reviews section available to all users -->
            <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background"
                    href="{{ url_for('home') }}">Home</a></li>
            <li class="navbar-mob"><a class="text-shadow-teal amatic-font light-purple-background"
                    href="{{ url_for('reviews') }}">Reviews</a></li>
            {% if session.user %}
                {% if session.user|lower == "admin"|lower %}
                    <!-- admin section to alter the genres -->
                    <li class="navbar-mob"><a class="text-shadow-teal amatic-font light-purple-background"
                            href="{{ url_for('manage_genres') }}">Manage Genres</a></li>
                {% endif %}
                <!-- registered users section -->
                <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background"
                        href="{{ url_for('add_review') }}">Add A Review</a></li>
                <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background"
                            href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background"
                        href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <!-- section for unregistered users -->
                <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background"
                        href="{{ url_for('login') }}">Log In</a></li>
                <li class="navbar-mob"><a class="text-shadow amatic-font light-purple-background"
                        href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>
        <!-- Section for displaying our flashed messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <section>
                    {% for message in messages %}
                        <div class="row center-align text-shadow flashes aqua-background">
                            <h3 class="bright-gold">{{ message }}</h3>
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
        {% endwith %}

    <main class="aqua-background">
    {% block content %}
    {% endblock %}
    </main>
    <footer class="light-purple-background">
        <div class="row">
            <div class="col s12 m6 l4 center-align">
                <p class="bright-gold text-shadow">Created by Ger Tobin</p>
            </div>
            <div class="col s12 m6 l4 offset-l4 center-align">
                <h5 class="bright-gold text-shadow"><i class=""></i> Follow Us</h5>
                <a href="https://www.facebook.com/" target="_blank" aria-label="open facebook" class="social-links"><i
                     class="bright-gold text-shadow material-icons prefix">facebook</i></a>
                <a href="https://www.youtube.com" target="_blank" aria-label="open youtube" class="social-links"><i
                        class="text-shadow bright-gold material-icons prefix">youtube_searched_for</i></a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>