{% extends "base.html" %}
{% block content %}

<section id="hero-image">
    <div class="row center-align">
        <div class="col s12 hero-class valign-wrapper">
            <div id="cta-section" class="col s10 m6 offset-m3 l4 offset-l4 offset-s1">
                <h4 class="amatic-font text-shadow">Tell us about your Lockdown Reads!</h4>
                <p class="josefine-font">Create, Review and Read through a collection of reviewed books from <em>OUR
                        COMMUNITY</em></p>
                <a href="{{ url_for('reviews') }}" id="review-cta-btn" class="waves-effect waves-light pale-gold-background btn"><i
                        class="material-icons left">cloud</i>Reviews</a>
                <a href="{{ url_for('register') }}" id="register-cta-btn" class="waves-effect waves-light pale-gold-background btn"><i
                        class="material-icons left">cloud</i>Register</a>
                <span id="cta-login-option"><small>Already Registered? Log In <a href="{{ url_for('login') }}">Here</a></small></span>
            </div>

        </div>
    </div>
</section>
<!-- section to show the top 5 rated reviews and link to the review page -->
<section id="ratings-carousel">
    <div class="row center-align aqua-background">
        <h4 class="josefine-font text-shadow">Our Top User Rated Reviews</h4>
        <div class="carousel">
            {% for rating in ratings %}
            <a class="bright-gold text-shadow carousel-item" href="{{ url_for('reviews') }}"><img
                    src="{{ rating.image_url }}">Reviewed By: {{ rating.reviewed_by }} <br>
                {{ rating.rating }} / 10</a>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}