{% extends "base.html" %}
{% block content %}
<h2 class="center-align bright-gold amatic-font text-shadow h3-header">Manage Genres</h2>
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_genre') }}" class="margin-top-btm-20 big-font amatic-font btn-large black-text text-shadow bright-gold-background">
            <i class="material-icons left">add</i>Add Genre!</a>
    </div>
</div>
<div class="row min-vh">
    {% for genre in genres %}
    <div class="col s12 m6 l4">
        <div class="card light-purple-background">
            <div class="card-content white-text">
                <span class="black-text amatic-font center-align text-shadow card-title">Genre: {{ genre.genre_name }}</span>
            </div>
            <div class="card-action">
                <!-- buttons to trigger the edit and delete functions for the reviews -->
                <div class="card-action center-align">
                    <a href="{{ url_for('edit_genre', genre_id=genre._id) }}" class="waves-effect waves-light btn blue"><i class="material-icons left">edit</i>Edit</a>
                    <!-- Modal Trigger -->
                    <a href="" class="waves-effect waves-light modal-trigger btn red"><i
                            class="material-icons left">delete</i>Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Modal Structure -->
<div id="" class="modal">
    <div class="modal-content">
        <h4 class="aqua-background">Are You Sure?</h4>
        <p class="light-purple-background">To delete this genre, press the delete button below, otherwise press cancel
        </p>
    </div>
    <div class="modal-footer">
        <a href=""
            class="waves-effect waves-light modal-trigger btn red">Delete</a>
        <a href=""
            class="modal-close waves-effect waves-green aqua-background btn-flat">Cancel</a>
    </div>
    {% endblock %}