{% extends "base.html" %}
{% block content %}
<section class="aqua-background background-view-height">
    <div class="row">
        <div class="col s12">
            <div class="card pale-teal-background">
                <h3 class="margin-btm-0 pale-gold-background center-align amatic-font">{{ username }}'s Profile</h3>
                <h5 class="margin-top-0 center-align josefin-font light-purple-background">Reviews Posted by : {{ username }}</h5>
            </div>
        </div>
        {% for book in books %}
        {% if session.user|lower == book.reviewed_by|lower %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ book.image_url }}">
                    <span class="card-title">{{ book.book_name }} <small> by {{ book.book_author }}</small></span>
                </div>
                <div class="card-content">
                    <p>{{ book.review_title }} <small>by {{ book.reviewed_by }}</small></p>
                </div>
                <div class="card-action center-align">
                    <a class="waves-effect waves-light btn blue"><i class="material-icons left">edit</i>Edit</a>
                    <a class="waves-effect waves-light btn red"><i class="material-icons left">delete</i>Delete</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>


{% endblock %}